@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-controller="TmDbTrendings" asp-action="Index" class="navbar-brand">mvc_apps_01</a>
    <ul class="nav navbar-nav">
        <li><a asp-area="Identity" asp-controller="TmDbTrendings" asp-action="Index">Movie(ranking)</a></li>
        <li><a asp-area="Identity" asp-controller="TmDbComingSoons" asp-action="Index">Movie(ComingSoon)</a></li>
    </ul>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("IndexNonAuthorize", "TmDbTrendings", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <a asp-area="" asp-controller="TmDbTrendings" asp-action="IndexNonAuthorize" class="navbar-brand">mvc_apps_01</a>
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="TmDbTrendings" asp-action="IndexNonAuthorize">Movie(ranking)</a></li>
        <li><a asp-area="" asp-controller="TmDbComingSoons" asp-action="IndexNonAuthorize">Movie(ComingSoon)</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}